= content_for :title, "#{club_name} - #{t('actions.signin')}"
.col-md-4.col-md-offset-4
  .login-panel
    = image_tag(club_logo, size: '160',
      class: "col-md-offset-2") unless club_logo.blank?
    %h2
      %strong= club_name
    = bootstrap_form_tag url: sessions_path do |f|
      = render 'layouts/flash', object: flash
      = f.email_field :email, hide_label: true,
        placeholder: t('activerecord.attributes.user.email').capitalize,
        class: "form-control"
      = f.password_field :password, hide_label: true,
        placeholder: t('activerecord.attributes.user.password').capitalize,
        class: "form-control"
      = f.submit t('actions.signin'), class: "btn btn-lg btn-success btn-block"
