%fieldset
  .form-group
    .col-xs-3
      = f.text_field :first_name, class: "form-control", id: "first_name",
        placeholder: t('activerecord.attributes.contest.first_name'),
        required: true
    .col-xs-3
      = f.text_field :last_name, class: "form-control",
        placeholder: t('activerecord.attributes.contest.last_name'),
        required: true
    .col-xs-2
      = f.text_field :date_of_birth, 'data-behaviour_birth' => 'datepicker',
        type: "competitor[date_of_birth]", placeholder: current_date,
        class: "form-control", required: true
    .col-xs-2
      = f.text_field :club, class: "form-control",
        placeholder: t('activerecord.attributes.contest.club'),
        required: true
    .col-xs-1
      = f.check_box :pk, class: "checkbox", title: t('activerecord.attributes.contest.p_k')
    .col-xs-1
      = f.hidden_field :_destroy
      = link_to '', '#',
        class: "remove_fields glyphicon glyphicon-trash btn btn-danger"
