.panel.panel-default
  .panel-heading= [t('actions.new'), t('activerecord.models.contest')].join(' ')
  .panel-body
    = form_for @contest, html: {class: "form-horizontal"} do |f|
      %fieldset
        %legend
          - if @contest.errors.any?
            .alert.alert-danger
              %h4
                = t('errors.template.body')
                %ul
                  - @contest.errors.full_messages.each do |msg|
                    %li= msg
        .form-group
          = f.label :name, class: "col-xs-4 control-label"
          *
          .col-xs-4
            = f.text_field :name,
              placeholder: t('activerecord.attributes.contest.name'),
              class: "form-control",
              required: true
        .form-group
          = f.label :date, class: "col-xs-4 control-label"
          *
          .col-xs-4
            = f.text_field :date, 'data-behaviour' => 'datepicker',
              type: "contest[date]",
              placeholder: current_date,
              class: "form-control",
              required: true
        %h3.text-center= t('activerecord.models.competitor.other').capitalize
        - if defined?(edit) && edit
          .form-group
            .col-xs-2
              = f.label :first_name, class: "control-label"
            .col-xs-2
              = f.label :last_name, class: "control-label"
            .col-xs-2
              = f.label :date_of_birth, class: "control-label"
            .col-xs-2
              = f.label :club, class: "control-label"
            .col-xs-3
              = f.label :competition, class: "control-label"
            .col-xs-1
              = f.label :pk, class: "checkbox"
        = f.fields_for :competitors do |builder|
          = render 'competitor_fields', f: builder
        .row-fluid
          = link_to_add_fields t(:add_competitor, scope: :contest), f, :competitors
        %br
        %h3.text-center= t('activerecord.models.judge.other').capitalize
        - if defined?(edit) && edit
          .form-group
            .col-xs-2
              = f.label :first_name, class: "control-label"
            .col-xs-2
              = f.label :last_name, class: "control-label"
            .col-xs-2
              = f.label :function, class: "control-label"
            .col-xs-2
              = f.label :license_number, class: "control-label"
        = f.fields_for :judges do |builder|
          = render 'judge_fields', f: builder
        .row-fluid
          = link_to_add_fields t(:add_judge, scope: :contest), f, :judges
      %br
      .button-centered
        = f.submit class: "btn btn-primary"
