= content_for :title, "#{club_name} - #{t('activerecord.models.contest').capitalize}"
.row
  .col-md-12
    %h2= t('activerecord.models.contest').capitalize
%hr
.row
  .col-md-12
    .panel.panel-default
      .panel-heading= t('activerecord.models.contest').capitalize
      .panel-body
        .row
          .col-md-3.col-sm-3.col-xs-12.pull-right.margin-top
            = link_to "#{t('contest.actions.new')} #{t('activerecord.models.contest')}",
              new_contest_path, class: 'btn btn-success btn pull-right'
          .col-lg-6.col-md-9.col-sm-9.col-xs-12.margin-top
            = form_tag contests_path, method: :get, id: 'contests_search', class: "form-group" do
              .input-group.form-group
                = text_field_tag :search, params[:search],
                  placeholder: t('activerecord.attributes.contest.name'), class: "form-control"
                %span.form-group.input-group-btn
                  = submit_tag t("actions.search"), name: nil, class: "btn btn-default"
              = hidden_field_tag :direction, params[:direction]
              = hidden_field_tag :sort, params[:sort]
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover.fixedlayout
              %thead
                %tr
                  %th= sortable "name", t('activerecord.attributes.contest.name')
                  %th= sortable "date", t('activerecord.attributes.contest.date')
                  %th.hidden-sm.hidden-xs(colspan=2)= t('contest.actions.actions')
              %tbody
                - @contests.each do |contest|
                  %tr
                    %td= link_to contest.name, contest
                    %td= contest.date
                    %td.hidden-sm.hidden-xs.text-center
                      = link_to t('contest.actions.edit'),
                        edit_contest_path(contest),
                        class: "btn btn-info btn-sm hidden-sm hidden-xs"
                    %td.hidden-sm.hidden-xs.text-center
                      = link_to t('contest.actions.destroy'), contest,
                        method: :delete, class: "btn btn-danger btn-sm",
                        data: { confirm: I18n.t('actions.confirm') }
            = paginate @contests
