%h1= t('activerecord.models.contest').capitalize

= link_to "#{t('actions.new')} #{t('activerecord.models.contest')}", new_contest_path

%table.table
  %thead
    %tr
      %th= t('activerecord.attributes.name')
      %th= t('activerecord.attributes.date')
      %th(colspan=3)= t('actions.actions')

  %tbody
    - @contests.each do |contest|
      %tr
        %td= contest.name
        %td= contest.date
        %td= link_to t('actions.show'), contest
        %td= link_to t('actions.edit'), edit_contest_path(contest)
        %td= link_to t('actions.destroy'), contest, method: :delete, data: { confirm: t('actions.confirm') }
  
= paginate @contests

