= content_for :title, "#{club_name} - #{t('activerecord.models.contest').capitalize}"
.row
  .col-md-12
    %h2= t('activerecord.models.contest').capitalize
%hr
.row
  .col-md-12
    .panel.panel-default
      .panel-heading= t('activerecord.models.contest').capitalize
      .panel-body
        .row
          .col-md-7.col-sm-12.col-xs-12.pull-right
            .btn-group.pull-right.margin-top
              = link_to t('contest.archive'),
                contests_archive_url, class: 'btn btn-warning'
              = link_to "#{t('contest.actions.new')} #{t('activerecord.models.contest')}",
                new_contest_path, class: 'btn btn-success'
          .col-md-5.col-sm-12.col-xs-12.margin-top
            = form_tag contests_path, method: :get, id: 'contests_search', class: "form-group" do
              .input-group.form-group
                = text_field_tag :search, params[:search],
                  placeholder: t('activerecord.attributes.contest.name'), class: "form-control"
                %span.form-group.input-group-btn
                  = submit_tag t("actions.search"), name: nil, class: "btn btn-default"
              = hidden_field_tag :direction, params[:direction]
              = hidden_field_tag :sort, params[:sort]
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover.fixedlayout
              %thead
                %tr
                  %th.col-md-3= sortable "name", t('activerecord.attributes.contest.name')
                  %th.col-md-1= sortable "date", t('activerecord.attributes.contest.date')
                  %th.col-md-1= t('mainmenu.shooters')
                  %th.col-md-1= t('mainmenu.competitions')
                  %th.col-md-1= t('contest.actions.actions')
              %tbody
                - @contests.each do |contest|
                  %tr
                    %td= link_to contest.name, contest
                    %td= contest.date
                    %td= contest.competitors.size
                    %td= contest.competitions.size
                    %td
                      .btn-group.col-md-offset-1
                        = link_to t('contest.actions.edit'),
                          edit_contest_path(contest),
                          class: "btn btn-info btn-sm"
                        = link_to t('contest.actions.destroy'), contest,
                          method: :delete, class: "btn btn-danger btn-sm",
                          data: { confirm: I18n.t('actions.confirm') }
            = paginate @contests
