= content_for :title, "#{t('club_name')} - #{t('activerecord.models.contest').capitalize}"
.row
  .col-md-12
    %h2
      = t('activerecord.models.contest').capitalize if current_url? contests_url
      = t('activerecord.models.contestarchive').capitalize if current_url? archive_contests_url
%hr
.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        = t('activerecord.models.contest').capitalize if current_url? contests_url
        = t('activerecord.models.contestarchive').capitalize if current_url? archive_contests_url
      .panel-body
        .row
          .col-md-3.col-sm-3.col-xs-12.pull-right.margin-top
            = link_to "#{t('contest.actions.new')} #{t('activerecord.models.contest')}",
              new_contest_path, class: 'btn btn-success btn pull-right'
          .col-lg-6.col-md-9.col-sm-9.col-xs-12.margin-top
            = form_tag current_url, method: :get, id: 'contests_search', class: "form-group" do
              .input-group.form-group
                = text_field_tag :search, params[:search],
                  placeholder: t('activerecord.attributes.contest.name'), class: "form-control"
                %span.form-group.input-group-btn
                  = submit_tag t("actions.search"), name: nil, class: "btn btn-default"
              = hidden_field_tag :direction, params[:direction]
              = hidden_field_tag :sort, params[:sort]
        .row
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover.fixedlayout
              %thead
                %tr
                  %th= sortable "name", t('activerecord.attributes.contest.name')
                  %th= sortable "date", t('activerecord.attributes.contest.date')
                  %th.hidden-sm.hidden-xs(colspan=3)= t('contest.actions.actions')
              %tbody
                - @contests.each do |contest|
                  %tr
                    %td= link_to contest.name, contest_path(contest)
                    %td= contest.date
                    %td.hidden-sm.hidden-xs.text-center
                      = link_to t('contest.actions.edit'),
                        edit_contest_path(contest),
                        class: "btn btn-info btn-sm hidden-sm hidden-xs"
                    %td.hidden-sm.hidden-xs.text-center
                      = link_to t('contest.actions.destroy'),
                        contest_path(contest),
                        method: :delete, class: "btn btn-danger btn-sm",
                        data: { confirm: I18n.t('actions.confirm') }
                    - if !contest.archived?
                      %td.hidden-sm.hidden-xs.text-center
                        = link_to t('actions.archivate'),
                          archivate_contest_path(contest),
                          class: 'btn btn-default btn-sm hidden-sm hidden-xs',
                          method: :post
                    - else
                      %td.hidden-sm.hidden-xs.text-center
                        = link_to t('actions.activate'),
                          activate_contest_path(contest),
                          class: 'btn btn-default btn-sm hidden-sm hidden-xs',
                          method: :post
            = paginate @contests
            %p.pull-right= link_to t('activerecord.models.contestarchive'),
              archive_contests_url unless current_url? archive_contests_url
            %p= link_to t('actions.back'),
              contests_path unless current_url? contests_path
