= content_for :title, "#{t('club_name')} - #{t('activerecord.models.contest').capitalize}"
.btn-group.pull-right
  = link_to t('contest.actions.edit'), edit_contest_path(@contest),
                      class: "btn btn-info btn-sm"
  = link_to t('contest.actions.destroy'), @contest, method: :delete,
                      data: { confirm: I18n.t('actions.confirm') },
                      class: "btn btn-danger btn-sm"
%h1
  %strong= @contest.name
%h4= @contest.date
.panel.panel-default
  .panel-heading
    %strong= t('activerecord.models.judge.other')
    %table.table
      %thead
        %tr
          %th= t('activerecord.attributes.shooter.first_name')
          %th= t('activerecord.attributes.shooter.last_name')
          %th= t('activerecord.attributes.contest.function')
          %th= t('activerecord.attributes.contest.license_number')
      %tbody
        - @contest.judges.each do |judge|
          %tr
            %th= judge.first_name
            %th= judge.last_name
            %th= judge.function
            %th= judge.license_number

.panel.panel-default
  .panel-heading
    %strong= t('activerecord.attributes.contest.list_of_competitions')
  %table.table
    %thead
      %tr
        %th= t('activerecord.attributes.competition.name')
        %th= t('activerecord.attributes.competition.classification')
        %th= t('activerecord.attributes.competition.number_of_shots')
        %th{colspan: 2}= t(:actions, scope: :actions)
    %tbody
      - @contest.competitions.each do |competition|
        %tr
          %td= link_to competition.name, contest_competition_path(@contest, competition)
          %td= competition.classification
          %td= competition.number_of_shots
          %td= link_to t(:edit),
                edit_contest_competition_path(@contest, competition), 
                class: "btn btn-info btn-sm"
          %td= link_to t(:destroy),
                contest_competition_path(@contest, competition),
                class: "btn btn-danger btn-sm",
                method: :delete,
                data: { confirm: t('actions.confirm') }

= link_to t('competitions.new_competition'), new_contest_competition_path(@contest), class: "btn btn-primary btn-sm"
