= content_for :title, "#{club_name} - #{t('activerecord.models.contest').capitalize}"
  
.btn-group.pull-right
  = link_to t('contest.actions.edit'), edit_contest_path(@contest),
      class: "btn btn-info btn-sm"
  = link_to t('contest.actions.destroy'), @contest, method: :delete,
      data: { confirm: I18n.t('actions.confirm') }, class: "btn btn-danger btn-sm"
%h1
  %strong= @contest.name
.btn-group.pull-right
  = link_to t('contest.actions.select'), select_contest_path(@contest), 
      class: "btn btn-warning btn-sm"
%h4= @contest.date
.panel.panel-default
  .panel-heading
    %strong= t('activerecord.models.judge.other')
  %table.table
    %thead
      %tr
        %th= t('activerecord.attributes.shooter.first_name')
        %th= t('activerecord.attributes.shooter.last_name')
        %th= t('activerecord.attributes.contest.function')
        %th= t('activerecord.attributes.contest.license_number')
    %tbody
      - @contest.judges.each do |judge|
        %tr
          %th= judge.first_name
          %th= judge.last_name
          %th= judge.function
          %th= judge.license_number
.panel.panel-default
  .panel-heading
    %strong= t('activerecord.attributes.contest.list_of_competitions')
  %table.table
    %thead
      %tr
        %th= t('activerecord.attributes.competition.name')
        %th= t('activerecord.attributes.competition.classification')
        %th= t('activerecord.attributes.competition.number_of_competitors')
        %th= t('activerecord.attributes.competition.number_of_shots')
        %th{colspan: 2}= t(:actions, scope: :actions)
    %tbody
      - @contest.competitions.each do |competition|
        %tr
          %td= link_to competition.name, contest_competition_path(@contest, competition)
          %td= competition.classification
          %td= competition.competitors.size
          %td= competition.number_of_shots
          %td.btn-group.col-mid-3
            = link_to t('actions.rate'),
                edit_contest_competition_path(@contest, competition),
                class: "btn btn-success btn-sm"
            = link_to t(:edit),
                edit_contest_competition_path(@contest, competition),
                class: "btn btn-info btn-sm"
            = link_to t(:destroy),
                contest_competition_path(@contest, competition),
                class: "btn btn-danger btn-sm",
                method: :delete,
                data: { confirm: t('actions.confirm') }

.panel.panel-default
  .panel-heading
    %strong= t('competitions.new_competition')
  = content_for :title, "#{t('club_name')} - #{t('competitions.new_competition')}"
  
  = render 'competitions/form'
