.form-group
  .col-xs-2
    = f.text_field :first_name, class: "form-control",
      placeholder: t('activerecord.attributes.contest.first_name')
  .col-xs-2
    = f.text_field :last_name, class: "form-control",
    placeholder: t('activerecord.attributes.contest.last_name')
  .col-xs-2
    = f.text_field :club, class: "form-control",
    placeholder: t('activerecord.attributes.contest.club')
  .col-xs-2
    = f.fields_for :shooting do |builder|
      = render 'shooting_fields', f: builder
