.row-fluid
  .span4.well
    = form_for [@contest, @competition], html: {class: "form-horizontal"} do |f|
      %fieldset
        %legend
          %h2= t('activerecord.models.competition.one').capitalize
          - if @competition.errors.any?
            .alert.alert-danger
              %h4
                = t('errors.template.body')
                %ul
                  - @competition.errors.full_messages.each do |msg|
                    %li= msg
        .form-group
          = f.label :name, class: "col-xs-4 control-label"
          *
          .col-xs-4
            = f.text_field :name,
              placeholder: t('activerecord.attributes.competition.name'),
              class: "form-control",
              required: true
        .form-group
          = f.label :classification, class: "col-xs-4 control-label"
          *
          .col-xs-4
            = f.text_field :classification,
              placeholder: t('activerecord.attributes.competition.classification'),
              class: "form-control",
              required: true
        .form-group
          = f.label :number_of_shots, class: "col-xs-4 control-label"
          *
          .col-xs-4
            = f.number_field :number_of_shots,
              placeholder: t('activerecord.attributes.competition.number_of_shots'),
              class: "form-control",
              required: true
        .button-centered
          = f.submit class: "btn btn-primary"
