.row-fluid
  .col-xs-4
    .form-group
      %h4.control-label= "#{f.object.competitor.first_name} #{f.object.competitor.last_name}"
      %br
      - f.object.virtual_attributes do |attribute, index|
        .col-xs-10.input-group
          %span.input-group-addon= "#{index}"
          = f.text_field "#{attribute}", class: "form-control input-mini",
            placeholder: t('activerecord.attributes.competition.record')
          = f.hidden_field :target
