= content_for :title,
  "#{t('club_name')} - #{t('actions.edit')}#{t('activerecord.models.competition.other')}"
%h2= t('competitions.edit_competition')

= render partial: 'form', locals: {edit: true}
