= content_for :title, "#{club_name} - #{t('payments.list_of_payments').capitalize}"
.row
  .col-md-12
    %h2= t('payments.list_of_payments')

%hr
.row
  .col-md-12
    .panel.panel-default
      .panel-heading= t('payments.list_of_payments')
      .panel-body
        .row
          = bootstrap_form_tag url: payments_path, method: :get do |f|
            .col-md-2
              = f.text_field :search,
                label: t("actions.search"),
                placeholder: t('payments.searchbox_placeholder')
            .col-md-3
              = f.form_group do
                .row
                  .col-md-12= label_tag :amount, t('payments.amount')
                .row
                  .col-md-5
                    = f.text_field :amount_min,
                      hide_label: true,
                      placeholder: t('payments.from')
                  .col-md-1.text-center.pay-form-hyphen &#8212;
                  .col-md-5
                    = f.text_field :amount_max,
                      hide_label: true,
                      placeholder: t('payments.to')
            .col-md-3
              .row
                .col-md-12= label_tag :date, t('payments.payment_date')
              .row
                .col-md-5
                  = f.text_field :date_min,
                    hide_label: true,
                    placeholder: t('payments.from'),
                    'data-behaviour' => 'datepicker'
                .col-md-1.text-center.pay-form-hyphen &#8212;
                .col-md-5
                  = f.text_field :date_max,
                    hide_label: true,
                    placeholder: t('payments.to'),
                    'data-behaviour' => 'datepicker'
            .col-md-1
              = hidden_field_tag :direction, params[:direction]
              = hidden_field_tag :sort, params[:sort]
              = f.submit t("actions.search"),
                class: 'btn btn-default btn-payment-form'
            .col-md-3
              = link_to t('payments.new_payment'), new_payment_path,
                class: 'btn btn-success btn-payment-form pull-right'
        .row
          .col-md-1.col-md-offset-11
            = link_to payments_path(format: :csv, more_params: params[:search]) do
              %button.btn.btn-default.pull-right
                %i.glyphicon.glyphicon-download
                  CSV
        %br
        .row
          .col-md-12
            = render partial: 'table', locals: {shooter_in_table: true}
