= content_for :title, "#{t('club_name')} - #{t('payments.list_of_payments').capitalize}"
.container
  %h1= t(:list_of_payments, scope: :payments)

  = link_to t(:new_payment, scope: :payments), new_payment_path

  %table.table
    %thead
      %tr
        %th= t(:name_of_shooter, scope: :payments)
        %th= t(:payment_date, scope: :payments)
        %th= t(:amount, scope: :payments)
        %th= t(:description, scope: :payments)
        %th{colspan: 3}= t(:actions, scope: :payments)
    %tbody
    - @payments.each do |payment|
      %tr
        %td= payment.by
        %td= payment.date
        %td= payment.amount
        %td= payment.description
        %td= link_to t(:show), payment
        %td= link_to t(:edit), edit_payment_path(payment)
        %td= link_to t(:destroy), '#'
