= content_for :title, "#{club_name} - #{t('actions.new')} #{t('activerecord.models.payment')}"
.row
  .col-md-12
    %h2= [t('actions.new'), t('activerecord.models.payment')].join(' ')
%hr
.row
  .col-md-8.col-md-offset-2
    = render 'form'
