= content_for :title, "#{club_name} - #{t('payments.one_payment')}"
.row
  .col-xs-12
    %h1
      = t('payments.payment_details')
      .btn-group
        = link_to t('actions.edit'), edit_payment_path(@payment),
          class: "btn btn-info btn-sm"
        = link_to t('actions.destroy'), @payment,
          class: "btn btn-danger btn-sm",
          method: :delete,
          data: { confirm: t('actions.confirm') }
%hr/
.row
  .col-xs-12
    .panel.panel-back.noti-box.payment-box
      %span.icon-box.bg-color-red.set-icon
        %i.glyphicon.glyphicon-usd
      .text-box
        %p.main-text= t('payments.one_payment') + " #{@payment.id}"
        %p
          %strong= t('payments.payer_details')
          = link_to(@payment.shooter.full_name, shooter_path(@payment.shooter)) + ','
          #{display_address(@payment.shooter.addresses[0])}
        %hr/
        %p
          %strong= t('payments.amount')
          = change_to_currency(@payment.amount)
        %p
          %strong= t('payments.description')
          = @payment.description
        %p
          %strong= t('payments.payment_date')
          = @payment.date
