= content_for :title, "#{t('club_name')} - #{t('payments.one_payment')}"
.btn-group.pull-right
  - if @payment.expired?
    = link_to I18n.t('payments.send'), @payment,
    class: "btn btn-warning btn-sm",
    method: :post,
    data: { confirm: t('actions.confirm') }
  = link_to t('actions.edit'), edit_payment_path(@payment),
    class: "btn btn-info btn-sm"
  = link_to t('actions.destroy'), @payment,
    class: "btn btn-danger btn-sm",
    method: :delete,
    data: { confirm: t('actions.confirm') }
%h2= t('payments.one_payment') + " #{@payment.id}"
.row
  .col-xs-12.col-sm-12.col-md-6
    %h3
      %strong= t('payments.payer_details')
    %p
      %strong= t('payments.payer_first_name')
      = @payment.shooter.first_name
    %p
      %strong= t('payments.payer_last_name')
      = @payment.shooter.last_name
  .col-xs-12.col-sm-12.col-md-6
    %h3
      %strong= t('payments.payment_details')
    %p
      %strong= t('payments.amount')
      = change_to_currency(@payment.amount)
    %p
      %strong= t('payments.description')
      = @payment.description
    %p
      %strong= t('payments.payment_date')
      = @payment.date
      %p
      %strong= t('payments.payment_expiry_date')
      = @payment.expiry_date

