= content_for :title, "#{t('club_name')} - #{t('payments.one_payment')}"
.container
  %h2= t('payments.one_payment') + " #{@payment.id}"
  .row
    .col-xs-6
      %h4
        %strong= t('payments.payer_details')
      %p
        %strong= t('payments.payer_first_name')
        = @payment.shooter.first_name
      %p
        %strong= t('payments.payer_last_name')
        = @payment.shooter.last_name
    .col-xs-6
      %h4
        %strong= t('payments.payment_details')
      %p
        %strong= t('payments.amount')
        = change_to_currency(@payment.amount)
      %p
        %strong= t('payments.description')
        = @payment.description
      %p
        %strong= t('payments.payment_date')
        = @payment.date
        %p
        %strong= t('payments.payment_expiry_date')
        = @payment.expiry_date

