%div{id: (is_first ? 'first_address_id' : 'second_address_id')}= address_fields.hidden_field :id
%fieldset{id: (is_first ? 'first_address' : 'second_address')}
  %legend
    %h5
      = t(is_first ?                              |
          'helpers.label.address.first_address'   |
          :                                       |
          'helpers.label.address.second_address'  |
        )                                         |
      %span.text-danger= '*'
  .form-group
    %label.col-md-4.control-label{for: "street"}
      =t('activerecord.attributes.address.street')
    .col-md-4
      = address_fields.text_field :street, class: 'form-control', id: 'street',
        placeholder: t('activerecord.attributes.address.street')
    %span.text-danger= '*'
  .form-group
    %label.col-md-4.control-label{for: "street"}
      =t('activerecord.attributes.address.building') + ', '
      =t('activerecord.attributes.address.flat')
    .col-md-2
      = address_fields.text_field :building, class: 'form-control',
        placeholder: t('activerecord.attributes.address.building'),
        id: 'building', required: (is_first ? true : false)
    %span.text-danger= '*'
    .col-md-2
      = address_fields.text_field :flat, class: 'form-control', id: 'flat',
        placeholder: t('activerecord.attributes.address.flat')
  .form-group
    %label.col-md-4.control-label{for: "street"}
      =t('activerecord.attributes.address.city') + ', '
      =t('activerecord.attributes.address.zip_code')
    .col-md-2
      = address_fields.text_field :city, class: 'form-control', id: 'city',
        placeholder: t('activerecord.attributes.address.city'),
        required: (is_first ? true : false)
    %span.text-danger= '*'
    .col-md-2
      = address_fields.text_field :zip_code, id: 'zip_code',
        placeholder: t('activerecord.attributes.address.zip_code'),
        class: 'form-control', required: (is_first ? true : false)
  - if is_first
    .form-group
      %label.col-md-4.control-label
        =t('helpers.label.address.second_address')
      %input.col-md-1.checkbox#second_address_show{type: 'checkbox',
        checked: @shooter.addresses.second.id ? true : false,
        disabled: @shooter.addresses.second.id ? true : false}
  - elsif @shooter.addresses.second.id
    .form-group
      %label.col-md-4.control-label
        =t('actions.destroy') + ' ' + t('activerecord.models.address').downcase
      = address_fields.check_box :_destroy, class: 'col-md-1'
