.container
.row-fluid
  .span4.well
    = form_for @shooter, html: {class: "form-horizontal"} do |m|
      %fieldset
        %legend
          %h3= t('helpers.label.shooter.shooter_heading')
        .form-group
          *
          = m.label :first_name, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :first_name,
              placeholder: t('activerecord.attributes.shooter.first_name'),
              class: "form-control"
        .form-group
          *
          = m.label :last_name, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :last_name,
              placeholder: t('activerecord.attributes.shooter.last_name'),
              class: "form-control"
        .form-group
          = m.label :date_of_birth, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :date_of_birth, "data-behaviour_birth" => "datepicker",
              type: "shooter[date_of_birth]",
              placeholder: current_date,
              class: "form-control"
        .form-group
          *
          = m.label :pesel, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :pesel,
              placeholder: t('activerecord.attributes.shooter.pesel'),
              class: "form-control"
        .form-group
          *
          = m.label :email, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :email,
              placeholder: t('activerecord.attributes.shooter.email'),
              class: "form-control"
        .form-group
          = m.label :phone, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :phone,
              class: "form-control",
              placeholder: t('activerecord.attributes.shooter.phone')
        .form-group
          *
          = m.label :joined_date, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :joined_date, "data-behaviour" => "datepicker",
              type: "shooter[joined_date]",
              placeholder: current_date,
              class: "form-control"
        .form-group
          = m.label :resolution_number, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :resolution_number,
              class: "form-control",
              placeholder: t('activerecord.attributes.shooter.resolution_number')
        .form-group
          = m.label :license_number, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :license_number,
              class: "form-control",
              placeholder: t('activerecord.attributes.shooter.license_number')
        .form-group
          = m.label :judge_license_number, class: "col-xs-4 control-label"
          .col-xs-4
            = m.text_field :judge_license_number,
              class: "form-control",
              placeholder: t('activerecord.attributes.shooter.judge_license_number')

        .form-group.center-block
          = m.label :sport_permission, class: "col-xs-4 control-label"
          .col-xs-4
            = m.radio_button :sport_permission, true, id: 'permission_true'
            = m.label :yes_form

            = m.radio_button :sport_permission, false, id: 'permission_false'
            = m.label :no_form
            .well.well-sm
              .input-group
                = m.check_box :handgun
                = m.label :handgun
              .input-group
                = m.check_box :rifle
                = m.label :rifle
              .input-group
                = m.check_box :shotgun
                = m.label :shotgun
        .form-group
          = m.label :collectors_permission, class: "col-xs-4 control-label"
          .col-xs-4
            = m.radio_button :collectors_permission, true
            = m.label :yes_form

            = m.radio_button :collectors_permission, false
            = m.label :no_form
        %fieldset
          %legend
            %h5= t('helpers.label.address.first_address')
          .form-group
            *
            %label.col-xs-4.control-label{for: "street"}
              =t('activerecord.attributes.address.street')
            .col-xs-4
              %input#street.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.street')}
          .form-group
            *
            %label.col-xs-4.control-label{for: "street"}
              =t('activerecord.attributes.address.building') + ', '
              =t('activerecord.attributes.address.flat')
            .col-xs-2
              %input#building.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.building')}
            .col-xs-2
              %input#flat.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.flat')}
          .form-group
            *
            %label.col-xs-4.control-label{for: "street"}
              =t('activerecord.attributes.address.city') + ', '
              =t('activerecord.attributes.address.zip_code')
            .col-xs-2
              %input#city.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.city')}
            .col-xs-2
              %input#zip_code.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.zip_code')}
          .form-group
            %label.col-xs-4.control-label
              =t('helpers.label.address.second_address')
            %input.col-xs-1.checkbox#second_address_show{type: 'checkbox'}
        %fieldset#second_address
          %legend
          .form-group
            %label.col-xs-4.control-label{for: "street"}
              =t('activerecord.attributes.address.street')
            .col-xs-4
              %input#street.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.street')}
          .form-group
            %label.col-xs-4.control-label{for: "street"}
              =t('activerecord.attributes.address.building') + ', '
              =t('activerecord.attributes.address.flat')
            .col-xs-2
              %input#building.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.building')}
            .col-xs-2
              %input#flat.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.flat')}
          .form-group
            %label.col-xs-4.control-label{for: "street"}
              =t('activerecord.attributes.address.city') + ', '
              =t('activerecord.attributes.address.zip_code')
            .col-xs-2
              %input#city.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.city')}
            .col-xs-2
              %input#zip_code.form-control{type: "text",
                placeholder: t('activerecord.attributes.address.zip_code')}

        .button-centered
          = m.submit class: "btn btn-primary"
