= content_for :title, "#{club_name} - #{t('shooters.list_of_shooters').capitalize}"
.row
  .col-md-12
    %h2= t('shooters.list_of_shooters')
%hr
.row
  .col-md-12
    .panel.panel-default
      .panel-heading= t('shooters.list_of_shooters')
      .panel-body
        .row
          .col-md-6
            = form_tag shooters_path, method: :get, id: 'shooters_search', class: "form-group" do
              .form-group.input-group
                = text_field_tag :search, params[:search],
                  placeholder: t('shooters.first_name_or_last_name'), class: "form-control"
                %span.form-group.input-group-btn
                  = submit_tag t("actions.search"), class: "btn btn-default"
              = hidden_field_tag :direction, params[:direction]
              = hidden_field_tag :sort, params[:sort]
          .col-md-6
            = link_to shooters_path(format: :csv, more_params: params[:search]) do
              %button.btn.btn-default
                %i.glyphicon.glyphicon-download
                CSV
            = link_to t('shooters.new_shooter'), new_shooter_path,
              class: "btn btn-success btn pull-right"
        .row.margin-top
          .col-md-12
            %table.table.table-striped.table-bordered.table-hover.fixedlayout
              %thead
                %tr
                  %th.col-md-1.photohead
                  %th.col-md-2= sortable "first_name",
                    t('activerecord.attributes.shooter.first_name'),
                    sort_column, sort_direction
                  %th.col-md-2= sortable "last_name",
                    t('activerecord.attributes.shooter.last_name'),
                    sort_column, sort_direction
                  %th.col-md-2= sortable "pesel",
                    t('activerecord.attributes.shooter.pesel'),
                    sort_column, sort_direction
                  %th.col-md-2= sortable "joined_date",
                    t('activerecord.attributes.shooter.joined_date'),
                    sort_column, sort_direction
                  %th.col-md-2= t('activerecord.attributes.shooter.phone')
                  %th.col-md-1= t('activerecord.attributes.shooter.email')
                  %th.col-md-2= t('actions.actions')
              %tbody
                - @shooters.each do |shooter|
                  %tr
                    - if shooter.image?
                      %td= image_tag(shooter.image_url(:thumb))
                    - else
                      %td= image_tag("default_thumb.jpg")
                    %td= link_to shooter.first_name, shooter
                    %td= link_to shooter.last_name, shooter
                    %td= shooter.pesel
                    %td= shooter.joined_date
                    %td= shooter.phone
                    %td.text-center.hidden-xs.col-md-1
                      - if shooter.email?
                        = mail_to shooter.email,
                        t('activerecord.attributes.shooter.email'),
                        class: "btn btn-primary btn-sm"
                    %td.text-center
                      .btn-group
                        = link_to t('actions.edit'),
                          edit_shooter_path(shooter),
                          class: "btn btn-info btn-sm"
                        = link_to t(:destroy), shooter, method: :delete,
                          class: "btn btn-danger btn-sm",
                          data: { confirm: t('actions.confirm') }
            = paginate @shooters
