= content_for :title, "#{t('club_name')} - #{t('shooters.list_of_shooters').capitalize}"
%h1= t('shooters.list_of_shooters')

= link_to t('shooters.new_shooter'), new_shooter_path, class: "btn btn-primary btn-sm"

%table.table
  %thead
    %tr
      %th= t('shooters.first_name_last_name')
      %th{colspan: 2}= t('actions.actions')
  %tbody
    - @shooters.each do |shooter|
      %tr
        %td= link_to shooter.full_name, shooter
        %td= link_to t('actions.edit'), '#', class: "btn btn-info btn-sm"
        %td= link_to t(:destroy), shooter, class: "btn btn-danger btn-sm",
              method: :delete,
              data: { confirm: t('actions.confirm') }
= paginate @shooters

