= content_for :title, "#{t('club_name')} - #{t('new')} #{t('activerecord.models.shooter')}"
= content_for :title,
  "#{t('club_name')} - #{t('actions.new')} #{t('activerecord.models.shooter')}"
%h2= I18n.t('helpers.label.shooter.create')
= render 'form'
