%header.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
  .navbar-inner
    .container
      .navbar-header
        %button.navbar-toggle{type: "button",
                             "data-toggle" => "collapse",
                             "data-target" => "#bs-navbar-collapse-main"}
          %span.sr-only= t(:toggle_navigation, scope: :mainmenu)
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to t(:club_name), '#', id: "logo", class: "navbar-brand"
      .collapse.navbar-collapse#bs-navbar-collapse-main
        %ul.nav.navbar-nav.pull-right
          %li= link_to t(:contests, scope: :mainmenu), contests_path
          %li= link_to t(:competitions, scope: :mainmenu), '#'
          %li= link_to t(:shooters, scope: :mainmenu), shooters_path
          %li= link_to t(:payments, scope: :mainmenu), payments_path
          %li= link_to t(:admin_panel, scope: :mainmenu), '#'
          %li= link_to t(:log_out, scope: :mainmenu), '#'
