%header.navbar.navbar-fixed-top.navbar-default{role: "navigation"}
  .navbar-inner
    .container
      .navbar-header
        %button.navbar-toggle{type: "button",
                             "data-toggle" => "collapse",
                             "data-target" => "#bs-navbar-collapse-main"}
          %span.sr-only= t(:toggle_navigation, scope: :mainmenu)
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to t(:club_name), '#', id: "logo", class: "navbar-brand"
      .collapse.navbar-collapse#bs-navbar-collapse-main
        %ul.nav.navbar-nav.pull-right
          %li= link_to t('maimenu.contests'), contests_path
          %li= link_to t('maimenu.shooters'), shooters_path
          %li= link_to t('maimenu.payments'), payments_path
          %li= link_to t('maimenu.admin_panel'), '#'
          %li= link_to t('maimenu.log_out'), signout_path,
            method: :delete
