!!!
%html
  %head
    %title= yield(:title)
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans'
    = stylesheet_link_tag 'signin', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  = yield
